In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
path = 'C:\Program Files (x86)\chromedriver'
driver = webdriver.Chrome(path)

In [16]:
AL_pitching_stats_DataFrame = pd.read_csv('../Data/AL_pitching_stats.csv') # .head(7)
del AL_pitching_stats_DataFrame['Unnamed: 0']

In [4]:
driver.get('https://www.baseball-reference.com/players/c/carmofa01.shtml')

In [5]:
Hernandez_page_source = driver.page_source

In [6]:
soup_for_Hernandez = BeautifulSoup(Hernandez_page_source, 'html.parser')

In [7]:
Hernandez_stats_table_code = soup_for_Hernandez.find(id='all_pitching_standard')

In [8]:
Hernandez_pitching_stats_DataFrame = pd.read_html(str(Hernandez_stats_table_code))[0]

In [9]:
missing_data = Hernandez_pitching_stats_DataFrame.query('Year == "2007"')

In [10]:
missing_data = missing_data.rename(columns={'Year':'Season'})

In [11]:
missing_data.drop(['Lg', 'Awards'], axis=1, inplace=True)

In [12]:
missing_data['index'] = 28
missing_data['Rk'] = 2.8
missing_data['Name'] = 'Roberto Hernandez'

In [13]:
missing_data_column_headers = list(missing_data.columns)
missing_data_column_headers = (missing_data_column_headers[-3:-1] + [missing_data_column_headers[-1]] +
                               missing_data_column_headers[1:-3] + [missing_data_column_headers[0]])
missing_data = missing_data[missing_data_column_headers]

In [14]:
missing_data

,index,Rk,Name,Age,Tm,W,L,W-L%,ERA,G,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Season
6,28,2.8,Roberto Hernandez,26,CLE,19.0,8.0,0.704,3.06,32.0,...,879.0,148.0,3.94,1.209,8.3,0.7,2.6,5.7,2.25,2007

In [18]:
AL_pitching_stats_DataFrame[AL_pitching_stats_DataFrame['Name'] == 'Paul Abbott']

Empty DataFrame
Columns: [index, Rk, Name, Age, Tm, W, L, W-L%, ERA, G, GS, GF, CG, SHO, SV, IP, H, R, ER, HR, BB, IBB, SO, HBP, BK, WP, BF, ERA+, FIP, WHIP, H9, HR9, BB9, SO9, SO/W, Season]
Index: []

[0 rows x 36 columns]